@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color:aliceblue;
}

h1{
    font-size: 64px;
    line-height: 64px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h2{
    font-size: 32px;
    line-height: 32px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h3{
    font-size: 24px;
    color: rgb(3, 26, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

p{
    font-size: 22px;
    line-height: 44px;
    color: rgb(21, 20, 22);
    font-family:'Poppins-thin', sans-serif;
    font-weight: 500;
}

/* HAMBURGER MENU - MOBILE */
.mobile-menu {
  display: none;
}

/* NAV - NORMAL */

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  justify-content: center;
  position: absolute;
  top: 4vh;
  left: 50%;
  transform: translatex(-50%);
  color: black;
}

.nav-links li {
  font-size: 1.4rem;
}

.nav-links li a {
  color: black;
  text-decoration: none;
}

.nav-links li a:hover {
  color: rgb(255, 96, 194);
}

  /* HERO */

  header{
    padding: 10px;
  }

  main{
    width:100%;
    height:100vh;
    background-color: aliceblue; 
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
  }

  .hero-text{
    margin: auto;
    max-width: 800px;
    height: 65vh;
    text-align: center;
  }

  .hero-text h2{
    color: white;
  }
  
  .hero-text h1 {
    color: white;
    font-size: 82px;
    line-height: 92px;
    font-weight: 800;
  }

.logo img {
    width: 100%;
    max-width: 80px;
    margin-left: 10px;

}

/* CONTENT */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    list-style: none;
}

.card{
    background-color: transparent;
    width: 24rem;
    flex-wrap: wrap;
    text-align: center;
  }
  
  img {
    height: auto;
    width: 100%;
  }


/* Content Split */

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.split-left, .split-right{
    flex: 1;
}

.split-left{
    padding-right: 8px;
}

.split-left p {
    padding-right: 8px;
    margin-top: 62px;
}

.split-right{
    padding-left: 10px;
}

.centered {
    text-align: center;
}

.centered img {
    width: 100%;
    max-width: 420px;
    border-radius: 50%;
  }

 .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
  }

#btn-alert {
    background: transparent;
    color: #1D1D1D;
    padding: 24px 82px;
    border: 1px solid #1D1D1D;
    border-radius: 32px;
    font-size: 18px;
  }

#btn-alert:hover {
    background: #4c5b68;
    color: white;
  }

  /* ACCORDION */
  
.accordion{
  background-color: #4c5b68;
  color: #ccc;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  transition: 0.5s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.active, .accordion:hover{
  background-color: rgb(19, 24, 24);
}

.panel {
  background-color: white;
  display: none;
  overflow: hidden;
}

.video-content{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.video {
  position: relative;
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.video iframe {
  width: 100%;
  max-width: 896px;
  height: 504px;
}



  /* FOOTER */

  .footer{
    background-color: #858d9e;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .footer-links{
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }

  .footer-links li {
    margin-bottom: 20px;
  }

  .footer-links a {
    color: white;
    text-decoration: none;
}

.copyright{
    margin-left: 20px;
  }